/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* ALGEMEEN **************************************************************************** */

/* KLEURENSCHEMA */

$hoofdkleur: rgb(200, 25, 18);
$grijs: rgb(248, 248, 248);
$wit: rgb(255, 255, 255);
$zwart: rgb(29,23,20);

/* FONTS */

$roboto: 'Roboto Slab', serif;
$krub: 'Krub', sans-serif;

$maxwidth: 5600px;

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $krub;
  font-size: 1em;
  line-height: 2;
  font-weight: 100;
  // letter-spacing: .0625em;
  // -webkit-hyphens: auto;
  //  -moz-hyphens: auto;
  //   -ms-hyphens: auto;
  //       hyphens: auto;
}

@media only screen and (min-width: 600px) {
  p, p * {
    font-size: 1.1em;
  }
}

strong {
  font-weight: 600;
}

a, input {
  transition: .4s all;
}

a:link, a:visited {
  color: $hoofdkleur;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.4;
  &.page-title {
    margin-bottom: 1em;
  }
}

h2 {
  font-family: $roboto;
  font-size: 1.6em;
  line-height: 1.4;
  margin-bottom: 1.6em;
}

h3 {
  font-size: 1.2em;
  line-height: 1.4;
}

ol {
  list-style: integer;
}

i.fas {
  padding-right: .5em;
}

@media only screen and (min-width: 960px) {
  i.fas {
    padding-right: 2em;
  }
}

div.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 960px) {
  div.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
  }
}

.wrapper {
  width: 100%;
}

.region {
  max-width: $maxwidth;
  margin: 0 auto;
}

.voorwoord {
  margin: 0 auto 2em;
}

div.region-full-width {
  max-width: 100%;
}

div.region-content {
  padding: 4em 0;
}

@media only screen and (min-width: 600px) {
  .voorwoord {
    max-width: 600px;
    text-align: center;
  }
}

/* HEADER ****************************************************************************** */

header {
  padding: 1em;
  box-shadow: 0 3px 5px rgba($zwart, .1);
  text-align: center;
  font-size: 1.4em;
  background-color: rgba($wit, .9);
  border-bottom: 1px solid $grijs;
  color: $zwart;
  position: sticky;
  top: 0;
  z-index: 10;
  line-height: 1.2;
  a {
    color: $zwart;
    text-decoration: none;
  }
}

/* NAVIGATIE */

div#wrapper-header-nav {
  div.header-nav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: $maxwidth;
    div.site-slogan {
      color: $zwart;
    }
    nav.nav-menu {
      margin-left: auto;
      display: flex;
      align-items: flex-end;
      li {
        font-size: 1.2rem;
        text-transform: uppercase;
        a {
          color: $zwart;
          &:hover, &:focus, &.is-active {
            color: $hoofdkleur;
          }
        }
        &.menu-item--active-trail {
          a {
            color: $hoofdkleur;
          }
        }
      }
    }
  }
}

li.menu-item--active-trail {
  color: $hoofdkleur;
}

@media only screen and (min-width: 960px) {
  header {
    padding: 1em 2em;
    grid-column: span 3;
    grid-row: 1;
  }
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  // background: $zwart;
}

ul.menu.mm-listview a {
  &:hover,
  &:focus,
  &.is-active {
    // color: $hoofdkleur;
  }
}

div.block-system-branding-block {
  text-align: left;
}

div.site-name a {
  color: $hoofdkleur;
  font-family: $roboto;
  font-size: 1.6em;
}

div.site-slogan {
  color: $wit;
  font-size: .7em;
}

nav.header-menu, div#sidr {
  ul.menu {
    li.menu-item {
      a {
        text-transform: uppercase;
        text-decoration: none;
      }
      a.is-active,
      &:hover a,
      &:focus a {
        color: $hoofdkleur;
      }
    }
  }
}

/* SIDR NAVIGATIE */

#sidr-container {
  display: none;
}

div#sidr {
  background-color: $zwart;
  padding: 1rem;
  ul {
    width: 100%;
    li.menu-item a {
      color: $wit;
      display: block;
    }
  }
}

div.sidr-inner {
  height: 100%;
  div.region-sidr-container {
    height: 100%;
    display: flex;
    flex-flow: column;
    div#block-headertopsocialicons-3 {
      margin-top: auto;
    }
  }
}

div.block-sidr-trigger {
  display: flex;
  flex-flow: column;
  @media only screen and (min-width: 800px) {
    display: none;
  }
  button.sidr-trigger {
    align-self: flex-end;
    text-transform: uppercase;
    padding: .5rem .7rem;
    color: $hoofdkleur;
    border: 2px solid $hoofdkleur;
  }
}

/* DESKTOP NAVIGATIE */

header nav.navigation ul.menu li.menu-item {
  visibility: hidden;
  margin-right: 2rem;
  text-transform: uppercase;
  @media only screen and (min-width: 800px) {
    visibility: visible;
    display: inline-block;
  }
}

/* TITLE BAR ******************************************************************************* */

div#wrapper-title-bar {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9));
  div.region-title-bar {
    text-align: center;
    padding: 1em;
    color: $wit;
    line-height: 1.8em;
    h1 {
      font-family: $roboto;
      font-size: 1.4rem;
      font-weight: 100;
      margin-bottom: 0;
      animation: title 1s;
    }
  }
}

@media only screen and (min-width: 960px) {
  div#wrapper-title-bar div.region-title-bar h1 {
    font-size: 1.8rem;
  }
}

div.front div#wrapper-title-bar {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), 
    url('../images/background-headline-1.jpg') center center / cover no-repeat;
    height: 50vh;
    display: flex;
    align-items: center;
    h1 {
      font-size: 2rem;
    }
}

@supports (display: flex) {
  div.front div#wrapper-title-bar {
    justify-content: center; // hack voor IE11
  }
}

@media only screen and (min-width: 960px) {
  div.front div#wrapper-title-bar {
    text-align: center;
    h1 {
      font-size: 3rem;
    }
  }
}

@keyframes title {
  from {
    transform: translateY(.2em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* BEFORE CONTENT ***************************************************************************** */

div.region-before-content {
  width: 100%;
}

/* AFTER CONTENT ***************************************************************************** */

div#wrapper-after-content {
  // background: $zwart;
}

div.container.front div#wrapper-after-content {
  background: none;
}

/* CALL TO ACTION */

div#block-interesseineennieuwewebsite, div#block-bekijkportfolio {
  background: $grijs;
  border-top: 1px solid darken($grijs, 10%);
  border-bottom: 1px solid darken($grijs, 10%);
  width: 100%;
  text-align: center;
  padding: 10em 0;
  p > a {
    display: inline-block;
    padding: .4em 1em;
    margin: 1em;
    // border-radius: 2em;
    color: $hoofdkleur;
    background-color: $wit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    border: 3px solid darken($hoofdkleur, 10%);
    &:hover, &:focus {
      color: $wit;
      background-color: $hoofdkleur;
    }
  }
}

/* PORTFOLIO ********************************************************************************* */

/* Portfolio view */
div.view-id-portfolio div.view-content {
  padding: 0 1em;
  div.views-row {
    margin-bottom: 2em;
    overflow: hidden;
    border: 1px solid darken($grijs, 20%);
    border-radius: 2px;
    // box-shadow: 0 1px 3px $zwart;
    div.views-field {
      picture {
        overflow: hidden;
        display: block;
        background-color: $zwart;
        border-bottom: 1px solid darken($grijs, 20%);
        img {
          width: 100%;
          transition: .4s all;
          display: block;
          &:hover, &:focus {
            transform: scale(1.1);
            opacity: .7;
          }
        }
      }
    }
    div.views-field-title {
      padding: 1em 1em 0;
      h2 a {
        color: $zwart;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
    div.views-field-field-extra-info-website {
      padding: 0 1em 1em;
    }
  }
}

@media only screen and (min-width: 960px) {
  div.view-id-portfolio div.view-content {
    padding: 0 2em;
  }
}

@media only screen and (min-width: 400px) {
  div.view-id-portfolio div.views-row {
    width: 50%;
    margin: 0 auto;
  }
}

@supports (display: grid) {
  @media only screen and (min-width: 400px) {
    div.view-id-portfolio div.view-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 2em;
      div.views-row {
        width: 100%;
        margin: 0;
      }
    }
  }
}

/* Portfolio nodes */
div.views-view-entity-pager {
  margin: 2em 0;
  ul li {
    font-weight: 100;
    text-transform: uppercase;
    a {
      color: $zwart;
      background: $grijs;
      border: 1px solid darken($grijs, 10%);
      padding: .5em;
      text-decoration: none;
      &:hover, &:focus {
        background: darken($grijs, 10%);
      }
    }
  }
}

article.node--type-portfolio {
  padding: 0 1em 2em;
  h2 {
    font-size: 1.2em;
    text-align: left;
    text-transform: uppercase;
    margin: 2em 0 0;
  }
  ul li {
    background: url('../images/check.svg') no-repeat;
    padding-left: 2em;
  }
  div.field--name-field-website {
    margin: 2em 0;
    a {
      display: block;
      text-align: center;
      max-width: 12em;
      margin: 0 auto;
      padding: 1em;
      color: $hoofdkleur;
      background-color: $wit;
      text-decoration: none;
      text-transform: uppercase;
      border: 3px solid darken($hoofdkleur, 10%);
      &:hover, &:focus {
        color: $wit;
        background-color: $hoofdkleur;
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  div.field--name-field-afbeelding-website-node {
    width: 45%;
    float: left;
    margin: 0 2em 0 1em;
  }
  div.field--name-field-body {
    width: 45%;
    float: right;
  }
  div.field--name-field-website {
    width: 100%;
  }
}

@supports (display: grid) {
  @media only screen and (min-width: 960px) {
    article.node--type-portfolio {
      padding: 0 2em 2em;
      div.node__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2;
        column-gap: 2em;
        div.field--name-field-afbeelding-website-node {
          width: 100%;
          margin: 0;
          grid-column: 1;
          grid-row: 1;
        }
        div.field--name-field-body {
          width: 100%;
          margin: 0;
          grid-column: 2;
          grid-row: 1;
        }
        div.field--name-field-website {
          width: 100%;
          grid-column: span 2;
          grid-row: 2;
        }
      }
    }
  }
}

/* Werkwijze */
div#block-werkwijze {
  padding: 2em 1em;
  ol {
    list-style: none;
    counter-reset: teller-werkwijze;
    li {
      counter-increment: teller-werkwijze;
      display: flex;
      margin-bottom: 2em;
      &::before {
        content: counter(teller-werkwijze);
        font-weight: bold;
        font-size: 5em;
        color: darken($grijs, 20%);
        font-family: $roboto;
        line-height: 1;
        min-width: 60px;
      }
      p {
        background: $grijs;
        border-left: 2px solid darken($grijs, 20%);
        padding: 1em;
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  div#block-werkwijze {
    padding: 2em;
    ol {
      display: flex;
      flex-wrap: wrap;
      li {
        display: flex;
        width: 50%;
        padding: 2em;
      }
    }
  }
}

/* CONTACTPAGINA ***************************************************************************** */

/* CONTACTFORMULIER */

// @media only screen and (min-width: 960px) {
//   div#block-zobereikjecloud51 {
//     width: 50%;
//     padding: 3em;
//   }
// }

form.webform-submission-form {
  padding: 0 1em;
  div.form-textarea-wrapper {
    // height: 100%;
    textarea {
      // height: 100%;
      resize: none;
    }
  }
  div.form-actions {
    margin-top: 4em;
  }
  div.form-item-naam, div.form-item-e-mailadres {
    max-width: 400px;
  }
}

form.webform-submission-form input, form.webform-submission-form textarea {
  width: 100%;
  padding: 1em;
  background: $grijs;
  border: 2px solid darken($grijs, 10%);
}

form.webform-submission-form input.form-submit {
  max-width: 100%;
  background: $wit;
  color: $hoofdkleur;
  border: 3px solid darken($hoofdkleur, 10%);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:hover, &:focus {
    color: $wit;
    background-color: $hoofdkleur;
  }
  @media only screen and (min-width: 500px) {
    width: 20rem;
  }
}

@media only screen and (min-width: 960px) {
  form.webform-submission-form div.webform-elements {
    padding: 0 2em;
    display: grid;
    column-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    div.form-item-naam {
      grid-row: 1;
      grid-column: 1;
    }
    div.form-item-e-mailadres {
      grid-row: 2;
      grid-column: 1;
    }
    div.form-item-bericht {
      grid-row: 3;
      grid-column: 1;
    }
    div.form-actions {
      grid-row: 4;
      grid-column: 1;
    }
    div.form.type-processed-text {
      grid-row: span 4;
      grid-column: 2;
      align-self: center;
    }
  }
}

// div#block-zobereikjecloud51 {
//   padding: 1em;
//   line-height: 2em;
//   background: $hoofdkleur;
//   color: $grijs;
//   span, h3 {
//     color: $wit;
//     font-weight: bold;
//   }
//   div.field--name-body p a {
//     color: $grijs;
//     &:hover, &:focus {
//       color: $zwart;
//     }
//   }
//   h2 {
//     font-size: 1.2em;
//     margin-top: .6em;
//   }
//   p {
//     margin-bottom: 1em;
//     &:first-of-type {
//       margin-bottom: 1.5em;
//     }
//   }
// }

/* FULL WIDTH ******************************************************************************** */

/* MAP */

div.region-full-width {
  display: flex;
  flex-flow: column;
  margin-top: 5em;
  }

div#block-views-block-kaart-contactpagina-block-1 {
  margin: 3em 1em;
  z-index: 0;
  @media only screen and (min-width: 960px) {
    margin: 0;
  }
  a {
    color: inherit;
  }
}

/* MAIN ********************************************************************************** */

main {
  width: 100%;
  background: $wit;
  flex: 1 0 auto;
  z-index: 5;
}

@media only screen and (min-width: 960px) {
  main {
    grid-column: span 3;
    grid-row: 2;
  }
}

/* CONTENT HOMEPAGE **************************************************************************** */

/* TROEVEN */

div#block-views-block-troeven-block-1 {
  margin-bottom: 4em;
  padding: 0 1em;
  div.view-header p {
    color: $zwart;
  }
  div.views-row {
    text-align: center;
    background: $grijs;
    border: 1px solid darken($grijs, 10%);
    padding: 3em 1.5em 1em;
    margin-bottom: 2em;
    &:last-child {
      margin-bottom: 0;
    }
    i {
      font-size: 5em;
      color: $hoofdkleur;
      padding-right: 0;
    }
    div.views-field-body p {
      text-align: left;
    }
  }
}

div#block-views-block-troeven-block-1 div.view-content div.views-row {
  margin-bottom: 2em; // IE11 hack
}

@media only screen and (min-width: 960px) {
  div#block-views-block-troeven-block-1 div.view-content {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); 
    @supports (display: grid) {
      div.views-row {
        margin-bottom: 0;
      }
    }
  }
}

/* OVER MEZELF */
div#overmezelf {
  color: $zwart;
  padding: 1em;
  margin-bottom: 4em;
  overflow: hidden;
  img {
    display: block;
    margin: 3em auto;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 800px) {
  div#overmezelf {
    max-width: 1000px;
    margin: 0 auto 4em;
    padding: 1em 2em;
    img {
      margin: 0 2em 0 0;
      float: left;
      shape-outside: ellipse();
      clip-path: ellipse();
    }
  }
}

div#technisch {
  // background: $grijs;
  // border-top: 1px solid darken($grijs, 10%);
  // border-bottom: 1px solid darken($grijs, 10%);
  color: $zwart;
  padding: 2em 1em;
  div {
    margin-bottom: 4em;
    svg {
      height: 5em;
      display: block;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 700px) {
  div#technisch article {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      width: 45%;
    }
  }
}

@media only screen and (min-width: 960px) {
  div#technisch {
   padding: 2em;
 }
}

/* ASIDE ************************************************************************************** */
 
aside {
  background-color: #936;
}

@media only screen and (min-width: 960px) {
  aside {
    grid-column: 1;
    grid-row: 2;
  }
}

/* SECTION ************************************************************************************ */

section {
  background-color: #385;
}

@media only screen and (min-width: 960px) {
  section {
    grid-column: 1;
    grid-row: 2;
  }
}

/* FOOTER ************************************************************************************** */

footer {
  text-align: center;
  font-size: 1em;
  background-color: $zwart;
  color: darken($grijs, 30%);
  padding: 1em 0;
  // border-top: 1px solid darken($grijs, 10%);
  div#main-footer, div#footer-copyright {
    max-width: $maxwidth;
    margin: 0 auto;
    line-height: 2em;
  }
  h2 {
    margin-bottom: 1em;
    color: $wit;
  }
  div#wrapper-main-footer div#main-footer div#footer-first div.region-footer-first div.field--name-body p a {
    color: darken($grijs, 30%);
    &:hover, &:focus {
      color: $hoofdkleur;
    }
  }
}

div#footer-third {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media only screen and (min-width: 960px) {
  footer {
    grid-column: span 3;
    grid-row: 3;
    position: sticky;
    bottom: 0;
    div#main-footer, div#footer-copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: left;
    }
  }
}